HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### deploy scripts
deploy-simple.ps1
deploy.ps1
csr.service
install-service.sh
docker-deploy.ps1
docker-build-local.ps1
docker-build.sh
local.env
.env
DOCKER_DEPLOYMENT.md

/data/**/**
