<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blockchain.csr.mapper.AttachmentMapper">
  <resultMap id="BaseResultMap" type="com.blockchain.csr.model.entity.Attachment">
    <!--@mbg.generated-->
    <!--@Table attachment-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_activity_id" jdbcType="INTEGER" property="userActivityId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="create_at" jdbcType="TIMESTAMP" property="createAt" />
    <result column="chain_id" jdbcType="VARCHAR" property="chainId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, user_activity_id, `name`, url, create_at, chain_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from attachment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from attachment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.blockchain.csr.model.entity.Attachment">
    <!--@mbg.generated-->
    insert into attachment (id, user_activity_id, `name`, 
      url, create_at, chain_id
      )
    values (#{id,jdbcType=INTEGER}, #{userActivityId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{url,jdbcType=VARCHAR}, #{createAt,jdbcType=TIMESTAMP}, #{chainId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.blockchain.csr.model.entity.Attachment">
    <!--@mbg.generated-->
    insert into attachment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userActivityId != null">
        user_activity_id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="createAt != null">
        create_at,
      </if>
      <if test="chainId != null">
        chain_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userActivityId != null">
        #{userActivityId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="chainId != null">
        #{chainId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.blockchain.csr.model.entity.Attachment">
    <!--@mbg.generated-->
    update attachment
    <set>
      <if test="userActivityId != null">
        user_activity_id = #{userActivityId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="createAt != null">
        create_at = #{createAt,jdbcType=TIMESTAMP},
      </if>
      <if test="chainId != null">
        chain_id = #{chainId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.blockchain.csr.model.entity.Attachment">
    <!--@mbg.generated-->
    update attachment
    set user_activity_id = #{userActivityId,jdbcType=INTEGER},
      `name` = #{name,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      create_at = #{createAt,jdbcType=TIMESTAMP},
      chain_id = #{chainId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>